
  <div class="card border border-5 mt-3 mx-auto" style="width: 27rem;">
    <div class="card-body text-justify mx-auto">
      <h5 class="card-title">Nome: <%= @user.name %></h5>
      <h5 class="card-title">E-mail: <%= @user.email %></h5>
    </div>
  </div>

<div class="inner-flex">
  <%= link_to t('links.edit'), edit_user_path(@user), class:"btn btn-light" %>
  <%= button_to  t('links.delete'), @user, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este usuário?' }, class: 'btn btn-danger' %>
  <%= link_to t('links.back'), users_path, class:"btn btn-outline-dark" %>
</div>