
  <div class="card border border-5 mt-3 mx-auto" style="width: 27rem;">
    <div class="card-body text-justify mx-auto">
      <div class="card-title d-flex align-items-center">
       <h5 class="me-2"><%= "#{t(".title")}: " %></h5>
       <span><%= @book.title %></span>
      </div>

      <div class="card-title d-flex align-items-center">
        <h5 class="me-2"><%= "#{t(".synopsis")}: " %></h5>
        <span><%= @book.synopsis %></span>
      </div>

      <div class="card-title d-flex align-items-center">
        <h5 class="me-2"><%= "#{t(".published_at")}: " %></h5>
        <span><%= @book.published_at %></span>
      </div>

      <div class="card-title d-flex align-items-center">
        <h5 class="me-2"><%= "#{t(".name")}: " %></h5>
        <%= link_to @book.name, author_path(@book.author) %>
      </div>

      <div class="card-title d-flex align-items-center">
        <h5 class="me-2"><%= "#{t(".biography")}: " %></h5>
        <span><%= @book.biography %></span>
      </div>

      <div class="card-title d-flex align-items-center">
        <h5 class="me-2"><%= "#{t(".status")}: " %></h5>
        <% if @book.rental.present? %>
          <%= link_to @book.translate_status, rental_path(@book.rental) %>
        <% else %>
          <span><%= @book.translate_status %></span>
        <% end %>
      </div>
    </div>
  </div>

<div class="inner-flex">
  <%= link_to t("links.edit"), edit_book_path(@book), class: "btn btn-light" %>
  <%= button_to t("links.delete"), @book, method: :delete, class: "btn btn-danger" %>
  <%= link_to t("links.back"), books_path, class: "btn btn-outline-dark" %>
</div>
